body {
   font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 10 10 10 10px;
   text-align: letf;
   /* background-color: #ced0d4; */
   background-color: #ffffff!important;
}

#contenedor {
   margin: auto;
} 

#cabecera {
   font-size:12pt;
   font-weight: bold;
   padding: 3 3 3 0px;
   text-align: center;
}

#cuerpo {
   margin: 10 0 10 0px;
}

#lateral {
   width: 170px;
   float:left;
}

#contenido {
   margin-left: 200px;
   padding: 4 4 4 4px;
   text-align: center;
}

#pie {
   background-color: #cccccc;
   color:black;
   padding: 3 10 3 10px;
   text-align:right;
}

.ui-menu { 
   width: 150px; 
}

a:link {   
  text-decoration:none;   
}

.transparente {
  opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
}

#div_carga {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url(../img/gris.png) repeat;
	display:none;
	z-index:1;
}

#img_carga {
  position:absolute;
  top:50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
