.marco-principal {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:1px solid #000000;
	width: 600px;
}

.marco-cabecera {
	margin: 0px;
	height: 160px;
	background-image:url(../img/home/banner2.jpg);
	border-left: 1px solid #428C00;
	border-right: 1px solid #428C00;
	border-top: 1px solid #428C00;
}

.marco-superior {
	clear: both;
	background-color: #CFF0A6;
	height: 25px;
	margin: 0px;
	border-top: 1px solid #428C00;
	border-left: 1px solid #428C00;
	border-right: 1px solid #428C00;
}

.marco-contenido {
	background-color: #FFFFFF;
	border-left: 1px solid #428C00;
	border-right: 1px solid #428C00;
	border-bottom: 1px solid #428C00;
	border:1px solid #000000;
}

.marco-izquierdo {
	float: left;
	width: 180px;
	height: 1100px;
	background-color: #CFF0A6;
}

.marco-derecho {
	float: right;
	width: 170px;
}

.marco-centro {
	width: 800px;
	height: 600px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #FFFFFF;
}

.marco-inferior {
	clear: both;
  background-color: #CFF0A6;
  height: 20px;
  text-align: center;
  color: #3D5336;
  padding-top: 5px;
  font-size: 10px;
}