.login {
    background: #88c3f1!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #999; */
}
.mensajeNomina{
	font-size: 14px;
}
.jxTabSetContainer {
    height: 600px;
    width: 900px;
}
.jxDialogContentContainer {
    width: 97.5%!important;
    height: 92%!important;
}
/*
grid.setStyle(
    "background-color:navy;color:white; font-weight:bold;", "","color:red;", ""
);
*/
div.gridbox_dhx_skyblue.isModern table.hdr tr td{
	background-color:navy!important;
	color:black!important;
	font-weight:bold!important;
	font-size:11px;
}
fieldset {
    border: none!important;
	margin-left: 10px;
}
.gridbox{
/*    background-color: red!important;*/
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.btn-verde {
    color: #9AE550!important;
}
.btn-azul {
    color: #5392E4!important;
}
.btn-rojo {
    color: red!important;
}
.btn-gris {
    color: gray!important;
}
.btn-group, .btn-group-vertical {
    left: 7px;
    z-index: 100;
}
.paginacion {
    padding: 10px;
}
/*
.encabezado {
	padding-top: 2px;
}
.encabezado-left {
	text-align:left;
}
.encabezado-center {
	text-align:center;
}
.encabezado-right {
	text-align:right;
	color:black!important;
	font-weight:bold!important;
	font-size:11px;
}
*/
.container {
    width: 100%;
}
.modal-header {
    background-color: #8989EF;
    color: white;
}
h4, .h4, h5, .h5, h6, .h6 {
/*    margin-top: 10px;*/
    margin-bottom: 5px!important;
}




/* TRAIDO DE RELACION DE CARGOS ------- REVISAR ------------*/
.panel-primary{
    /*width: -moz-fit-content;*/
}
.panel-info{
    width: -moz-fit-content;
}

.grupo-elementos{
    height: automatic;
    width:49%!important;
    margin-left: 5px;
    display: -moz-groupbox;
    display: inline-block;
}
.grupo-elementos1{
/*    height: 212px;*/
    width: 49%!important;
    margin-left: 5px;
    display: -moz-groupbox;
    /*display: inline-block;*/
}

.grupo-elementos2{
    height: automatic;
    width: 98%!important;
    margin-left: 5px;
    display: -moz-groupbox;
    display: inline-block;
}

.grupo-elementos3{
    height: automatic;
    width: 49%!important;
    margin-left: 5px;
    margin-top: -15px;
    display: -moz-groupbox;
    display: inline-block;
}

.grupo-elementos4{
    height: automatic;
    width: 49%!important;
    margin-left: 5px;
    display: -moz-groupbox;
    display: inline-block;
}

.grupo-elementos5{
    margin-top: 5px;
    width: 49%!important;
    margin-left: 5px;
    margin-top: -15px;
    display: -moz-groupbox;
    display: inline-block;
}
.panel-heading {
    padding: 3px 15px;
}
.panel-body {
    padding: 8px;
}
.form-group {
    margin-bottom: 5px;
}
.calendar, .calendar table {
    z-index: 1000;
}
.label {
    font-size: 13px;
/*	text-align:right;*/
}
.label-formula {
    font-size: 13px;
	color:#000;
	text-align:center;
}
.numero {
    text-align:right;
}
.iconoAyuda {
	color: blue;
	font-size: 13px;
	margin-left: 9px;
	cursor: pointer;
}
.iconoAyudaBarra {
	color: #f3e926;
	font-size: 13px;
	margin-left: 9px;
	cursor: pointer;
}
.tdTarifa{
	padding: 5px;
	text-align: right;
}
.tdTarifaActiva{
	padding: 5px;
	text-align: right;
	background-color: #3DF7A0;
}
.tdTarifaH{
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
.tdListar{
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
.col-lg-9 {
    min-height: 25px;
}
.input-errores {
    border: none;
    color: transparent;
    background: transparent;
    width:0px;
    height:0px;
}

.table-MF {
    font-size: 12px;
    margin: 0px;
    width: 202px;
    text-align: center;
    /*border: solid 1px;*/
}

.th-MF {
	font-size: 20px;
	font-weight: normal;
	/*padding: 8px;*/
	/*background: #b9c9fe;*/
    color: #039;
}

.td-MF {
	font-size: 20px;
	padding: 2px;
	background: #white;
    color: #black;
    width:20px;
}
.td-MF1 {
	font-size: 20px;
	padding: 2px;
	background: #white;
    color: #669;
    width:20px;
}
.td-MF2 {
	font-size: 20px;
	padding: 2px;
	background: #e8edff;
    color: #white;
    width:20px;
}
.td-peq{
	width:5%!important;
}
.td-med{
	width:5%!important;
}
.td-gra{
	width:20%!important;
}
tr:hover td { background: #d0dafd; color: #339; }

/***************************** INICIO ESTILOS PARA EL ODONTOGARMA  *******************************************/
.btn-warning {
    color: #fff;
    background-color: #ffe5bf!important;
    border-color: #eea236;
}
.botonletra {
	/*
	background-color: #E3E0F9;
	font-size: 2px;
	padding: 5px;
	z-index: 5000;
	border: 1px solid;
	width: 30px;
	*/
	width: 40px;
	height: 30px;
}

.botonesletras {
	width: 30px;
}

.dialogletra {
	cursor: move;
	font-size: 1em;
	text-align: center;
	padding-top: 1px;
	z-index: 50;
	font-size: 1em;
	position: absolute !important;
	width: auto !important;
	height: auto !important;
}

.elemSeleccionado { /
	*background: #E3E0F9;
	height: 20px;
	position: absolute;
	width: 30px;
	left: 15px;
	top: 3px;
}
/***************************** FIN ESTILOS PARA EL ODONTOGARMA  *******************************************/
input[type=checkbox] {
	/*height: 30px!important;*/
	/*padding: 5px 10px!important;*/
	font-size: 12px!important;
	line-height: 1.5!important;
	border-radius: 3px!important;
	background-color:navy!important;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    width: 70% !important;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    background-color: #4394eb;
    color: white;
    font-size: 10px;
    width:100%;
}
.div-grid-consulta{
	width: 90% !important;
}